extends ../../main/views/layout

block head
    title #{wiki.title} - Wiki

block content
    h1
        a(href="/wiki/v/"+wiki.title)= wiki.title
        - var editType = wiki.rev_id ? "(R"+wiki.rev_id+" 수정)" : "(새 문서 만들기)";
        small !{editType}
    form.ui.form(method="POST" action="/wiki/edit/"+encodeURIComponent(wiki.title))
        textarea(rows=15 name="content") !{wiki.rawContent}
        button.ui.button(type='submit') 제출