extends ../../main/views/layout

block head
    script(src="/js/wiki/layout.js")
    link(rel="stylesheet", href="/css/prism.css")
    script(src="/js/prism.js" data-manual)
    block head2

block rightNav
    .item.ui.action.input#wiki_searchbar
        .ui.search
            .ui.icon.input
                input.prompt(placeholder='검색...')
                i.search.icon
            .results