extends layout

block head
    link(rel="stylesheet" href='/css/wiki/wiki_view.css')
    title #{wiki.title} - Wiki

block content
    h1.wiki_title= wiki.title
    .wiki_content !{wiki.parsedContent}
    a.ui.button(href='/wiki/edit/'+wiki.title) 수정