doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css")
    script(src="//code.jquery.com/jquery-1.10.2.js")
    script(src="//code.jquery.com/ui/1.11.4/jquery-ui.js")

    block head
  body
    nav
      ul
        li
          a(href="/", class="nav-item") Home
        li
          a(href="/bookshelf", class="nav-item") 책장
    block content

    footer#footer
      p Copyright (c) foobar
