doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src="https://code.jquery.com/jquery-3.1.1.min.js", integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=", crossorigin="anonymous")
        link(rel='stylesheet', href='http://127.0.0.1:3000/semantic/semantic.min.css')
        script(src="http://127.0.0.1:3000/semantic/semantic.min.js")
        
        
    
    block head
    
    body
        nav.ui.top.sidebar.inverted.menu
            a.item(href='/') Home
            .ui.dropdown.item
                .text 책장
                i.dropdown.icon
                .menu
                    a.item(href="/bookshelf") 책장
                    a.item(href="/bookshelf/addbook") 책추가
            a.item 3
        
        
        .pusher 
            button.ui.button Follw
            block content
        
        
            footer#footer
                p Copyright (c) foobar
        script.
            $('.ui.sidebar').sidebar('setting', 'transition', 'push');
            $('button').click(function(){
                $('.ui.sidebar').sidebar('toggle');
            });
            $('ui.dropdown').dropdown();
