input {
    font_size: 12px;
    padding: 2px 2px;
    border: solid 1px #aacfe4;
    width: 140px;
    margin: 2px 0 2px 10px;
}
label {
    display: block;
    font_weight: bold;
    text_align: right;
    float: left;
    font_family: tahoma;
}
br {
    height: 20px;
}

.block{
    display: block
}
input{
    float:none
}
#book_list{
    width:150px;
    height:300px;
    list-style:none;
}

#book_list>li{
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}

.hide {
    display:none
}

.book{
    width: 330px;
    height: 20px;
    background: red;
}

.book:hover{
    background: yellow
}

#book_info{
    width:300px;
    height:400px;
    background: yellow;
}

#book_list_panel{
    position:absolute;
    background: green;
}
