extends layout

block head2
    link(rel="stylesheet" href='/static/css/wiki/wiki_view.css')
    title #{error.title} - Wiki

block content
    .ui.container
        .ui.icon.error.message
            - var formatPriType = function(type){switch(type){case 8: return "만들"; case 4: return "읽을"; case 2: return "수정할"; case 1: return "삭제할"}};
            i.ban.icon
            .header 권한 부족
            ul.list
                li
                    a(href="/wiki/view/" + error.title style="color:red;") #{error.title}
                    | 을/를 #{formatPriType(error.AC)} 수 없습니다.
                li
                    a(href="javascript:history.go(-1)") 돌아가기