.wiki_ext_link{
    color: green;
}
i.icon{
    margin: 0;
}

.wiki_toc{
    padding-right: 25px !important;
}

.wiki_list{
    margin: 13px 0 0 13px;
}

.wiki_fns{
    list-style: none;
    padding: 0px;
}

code {
    background-color: rgb(226, 226, 226);
    color: rgb(216, 0, 0);
}


pre {
    background-color: rgb(226, 226, 226);
    color: rgb(216, 0, 0);
}

.wiki_article_menu {
    float:right;
}

blockquote{
    max-width: 70%;
}
.wiki_quote_ref{
    text-align: right;
}

.wiki_quote_ref::before{
    content: '- ';
}

.wiki_toc li {
    list-style: none;
}

ol {
    padding-left: 20px;
}

ul {
    padding-left: 20px;
}

.wiki_toc ol{
    padding-left: 10px;
}

.wiki_nonexisting_page {
    color: #9e1317;
}

.wiki_content strong {
    font-size: 1.2em;
    margin-right: 0.5em;
}