doctype html
html
    meta(name="viewport", content="width=device=width, initial-scale=1.0")
    //- Chrome, Firefox OS and Opera
    meta(name="theme-color" content="#44ff5d")
    //- Windows Phone
    meta(name="msapplication-navbutton-color" content="#44ff5d")
    //- iOS Safari
    meta(name="apple-mobile-web-app-status-bar-style" content="#44ff5d")
    head
        link(rel='stylesheet', href='/css/style.css')
        script(src="https://code.jquery.com/jquery-3.1.1.min.js", integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=", crossorigin="anonymous")
        link(rel='stylesheet', href='/semantic/semantic.min.css')
        script(src="/semantic/semantic.min.js")
        block head

    body
        nav.ui.top.inverted.navbar.menu
            a.brand.item(href="/") Home
            a.item(href="/bookshelf") 책장
            a.item(href="/wiki") Wiki
            .right.menu
                block rightNav

                .item.ui.dropdown
                    i.large.user.icon
                    .menu
                        - if(session && session.userNickname){
                        .header= session.userNickname
                        .ui.divider
                        a.item(href="#") 계정정보
                        a.item(href="/auth/logout") 로그아웃

                        -} else{
                        .item 회원가입
                        a.item(href="/login") 로그인
                        -}

        .ui.container.segment
            block content


        footer.ui.inverted.vertical.footer.segment(style='text-align: center')
            p.
                hanjitori.com | #[a(href='mailto:lereveurdesetoiles@gmail.com') Contact]
            p CopyLeft (c) 2017 Hanjitori All Right No Reserved
        script.
            $('.ui.sidebar').sidebar('setting', 'transition', 'push');
            $('#sidebar_button').click(function () {
                $('.ui.sidebar').sidebar('toggle');
            });
            $('.ui.dropdown').dropdown();
            $('#search_bar .ui.search').search({});
            $('#search_bar .ui.dropdown').dropdown();