doctype html
html
    meta(name="viewport", content="width=device=width, initial-scale=1.0")
    //- Chrome, Firefox OS and Opera
    meta(name="theme-color" content="#44ff5d")
    //- Windows Phone
    meta(name="msapplication-navbutton-color" content="#44ff5d")
    //- iOS Safari
    meta(name="apple-mobile-web-app-status-bar-style" content="#44ff5d")
    head
        link(rel='stylesheet', href='/static/css/style.css')
        script(src="https://code.jquery.com/jquery-3.1.1.min.js", integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=", crossorigin="anonymous")

        link(rel='stylesheet', href='/static/semantic/semantic.min.css')
        script(src="/static/semantic/semantic.min.js")
        block head

    body
        nav.ui.top.inverted.navbar.menu
            a.item(href="/bookshelf") 책장
            a.item(href="/wiki") Wiki
            a.item(href="/note") Note
            a.item(href="/wiki/view/Wiki:About") About
            .right.menu
                block rightNav

                - if(user){
                .item.ui.dropdown
                    input#isUser(type="hidden", value=(user == null ? 0 : 1))
                    .header= user.username
                    .menu
                        a.item(href="#") 계정정보
                        a.item(href="/auth/logout") 로그아웃
                - } else {
                a(href="/login" style="margin:5px")
                    i.big.inverted.link.sign.in.icon
                - }

        block content
        script.
            $('.ui.sidebar').sidebar('setting', 'transition', 'push');
            $('#sidebar_button').click(function () {
                $('.ui.sidebar').sidebar('toggle');
            });
            $('.ui.dropdown').dropdown();
            $('#search_bar .ui.search').search({});
            $('#search_bar .ui.dropdown').dropdown();