extends ../../main/views/layout
block head
    style.
        input {
            float: left;
            font-size: 12px;
            padding: 2px 2px;
            border: solid 1px #aacfe4;
            width: 140px;
            margin: 2px 0 2px 10px;
        }
        label {
            display: block;
            font-weight: bold;
            text-align: right;
            float: left;
            font-family: tahoma;
        }
        br {
            height: 20px;
        }




    script.
        function DelayedHandler(){
            //execute handler after millisec if the event not aroused until millisec.
        //var test = new DelayedHandler(); $('#id').keyon(test.start(handler, milliseconds));
            this.timer = null;
            this.handler= '';
            this.millisec = '';

            this.start = function(handler, millisec){
                return function(){
                    if(this.timer){
                        clearInterval(this.timer);
                    }
                    this.timer = setTimeout(handler, millisec);
                }
            }
        };
        var delayedHnadlerForTitle = new DelayedHandler();
        $(document).ready(function(){
            $('#addread-title').keyup(delayedHnadlerForTitle.start(function(){
                var title = $('#searchbar').val();
                console.log(title);
                $.get(
                    "searchbook/",
                    {type:'Keyword', word:title},
                    function(data){
                        console.log(data);
                    },
                    'json'
                );
            }, 2000));
        });

    script.




block content
    h1= title
    p Welcome to #{title}
    form(method='post')
        input(type="date", name="start-date", id="addbook-start-date")
        label ~
        input(type="date", name="end-date", id="addbook-end-date")
        br
        br
        label(for="title") 제목
        input(name='title', id='title')
        br
        br
        label(for="author") 작가
        input(name='author', id='author')
        br
        br
        label(for="translator") 번역자
        input(name='translator', id='translator')
        br
        br
        label(for="publisher") 출판사
        input(name='publisher', id='publisher')
        br
        br
        button 입력
        input(type="submit", value="입력")

    div
        input(type="text", id="searchbar")
