extends ../../main/views/layout
block head
    link(rel="stylesheet" type="text/css" href="/css/bookshelf/addReading.css")
    script(src='/js/bookshelf/addReading.js')
    script(src='/js/bookshelf/jquery.star-rating-svg.js')
    link(rel="stylesheet" type="text/css" href="/css/bookshelf/star-rating-svg.css")


block content
    h1= title
    p Welcome to #{title}

    li(id="dummy_book", style="display:none;", class="book")

    div
        .ui.search
            .ui.icon.input
                input.prompt(type="text", placeholder='책 검색...')
                i.search.icon
            .results
                div(id='book_info', style="float:left;")
                    table
                        tbody
                            tr
                                td
                                    img
                                td
                                    strong 제목
                                    ul
                                        li 저자
                                        li 출판사|날짜                      
    
        #book_panel.ui.segment(style='height:150px')
            div(style="float:left")
                img#book_cover
            .ui.list(style="float:left; margin:15px")
                .item#book_title 
                    strong 
                .item#book_authors 
                .item#book_publish 
            .ui.button#change_book 책 바꾸기
                                               
        form.ui.form.segment(method='post', action='/bookshelf/reading', id="input_form")
            input(type="hidden", name="rating", id="form_rating")
            input(type="hidden", name="book", id="form_book")
            .ui.message(style="display:none;")
                i.close.icon
                .header
                p
            .fields.inline
                .field
                    label 읽은 날짜
                    input(type="date", name="date_started", id="form_date_started")
                .field
                    label ~
                .field
                    input(type="date", name="date_finished", id="form_date_finished")
    
            .field
                label 평점
                .rating#form_rating
            .field
                label 후기
                textarea(name='comment', id='form_comment')
            .inline.field
                .ui.toggle.checkbox
                    input(type="checkbox", tabindex="0", name="is_secret")
                    label 비밀
            .field
                label 읽은 사람
                input(href="#", id="form_user", name='user')
            
            .ui.buttons
                button#ok_btn.ui.button.positive(type='button') 완료
                button#can_btn.ui.button.negative(type='reset') 비우기
