extends ../layout
block head
    //script(src='/js/bookshelf/addreading.js')


block content
    h1 목록 수정하기

    div
        div(id='book_list_panel', style="display: none;")
            ul(id="book_list", style="float:left;")
            div(id='book_info', style="float:left;")
                table
                    tbody
                        tr
                            td
                                img
                            td
                                strong 제목
                                ul
                                    li 저자
                                    li 출판사|날짜

    form(method='post', action='/bookshelf/api/editreading', id="input_form", onsubmit="return check_form()")
        input(type="hidden", name="isbn13", id="form_isbn13")
        input(type="date", name="start_date", id="form_start_date")
        label ~
        input(type="date", name="finished_date", id="form_finished_date")

        label 평점
        select(name="rating")
            option(value=1) 1
            option(value=2) 2
            option(value=3) 3
            option(value=4) 4
            option(value=5) 5
            option(value=6) 6
            option(value=7) 7
            option(value=8) 8
            option(value=9) 9
            option(value=10) 10
        label(for="form_comment") 소감
        textarea(name='comment', id='form_comment')
        button 입력
