extends ../layout

block head
    script(src = "/js/bookshelf/main.js")
    //link(rel="stylesheet" href="/css/bookshelf/main.js")

    title 책장 - hanjitori
    
block content
    h1 책장
    table.ui.celled.table
        thead
            tr
                th 책 제목
                th 저자
                th 날짜
                th 읽은 사람
        tbody(id='tbdReadings')
        tfoot
            tr
                th(colspan=5).center.aligned
                    .ui.pagination.menu
    a.ui.green.basic.button(href="/bookshelf/reading/add") 읽은 책 추가