extends ../layout

block head
    title 책장 - hanjitori

block content
    main.ui.container
        #app
            transition(name="slid")
                router-view
    script(src = "/static/bookshelf/bookshelf.js")
    //script(src = "http://localhost:8080/bookshelf.js")
