extends ../../views/layout
block head
    link(rel="stylesheet" type="text/css" href="stylesheets/addread.css")
    script(src='javascripts/addread.js')


block content
    h1= title
    p Welcome to #{title}

    li(id="dummy_book", style="display:none;", class="book")

    div
        div#book_search_bar.ui.icon.input
            input(type="text", id="book_search", class="block", list='ttt', placeholder="책 검색...")
            i.search.icon
        div(id='book_list_wrapper', style="display: none; position: absolute;")
            ul(id="book_list", style="float:left;")
            div(id='book_info', style="float:left;")
                table
                    tbody
                        tr
                            td
                                img
                            td
                                strong 제목
                                ul
                                    li 저자
                                    li 출판사|날짜
        div#book_panel
            table
                tbody
                    tr
                        td
                            img#book_cover
                        td
                            strong#book_title 제목
                            ul
                                li#book_authors 저자
                                li#book_publish 출판사|날짜
                                           
    form(method='post', action='reading', id="input_form", onsubmit="return check_form()")
        input(type="hidden", name="book", id="form_book")
        input(type="date", name="date_started", id="form_start_date")
        label ~
        input(type="date", name="date_finished", id="form_finished_date")

        label(for="addread_rating") 평점
        select(name='rating', id='form_rating')
            option 0
            option 1
            option 2
            option 3
            option 4
            option 5
            option 6
            option 7
            option 8
            option 9
            option 10

        label(for="form_comment") 소감
        textarea(name='comment', id='form_comment')
        button 입력
